@model EntityLayer.Concreate.Category


@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddCategory ADmin</h2>

@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new {@class="form-control"})
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br />
        @Html.Label("Açıklamayı Yazınız")
        @Html.TextAreaFor(x => x.CategoryAçıklama, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryAçıklama)
        <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}
